{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow-lg border-0">

            <div class="card-header bg-success text-white">

                <h3>Nuevo Registro</h3>

            </div>

            <div class="card-body">

                <form method="POST">

                    <div class="mb-3">

                        <label class="form-label">
                            Nombre
                        </label>

                        <input type="text"
                               name="nombre"
                               class="form-control"
                               required>

                    </div>

                    <button class="btn btn-success w-100">

                        Guardar Registro

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}